<!DOCTYPE html>

<html>
  
  <head>
    <title> {{company_name}} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        object-fit: cover;
        height: 360px;
      }
    </style>
  </head>
  
  <body>
    
    <div class="container">
    
      <h1 class="text-center mt-4 mb-4"> {{company_name}} Carrier</h1>
      
      <img class="img-fluid" id="banner" src="https://jovian-website.rkpatel1474.repl.co/static/career.jpg">
      
      <h2 class="text-center mt-2 mb-4">About Jovian</h2>
      
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur         adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque gravida in fermentum et sollicitudin ac orci phasellus. Id interdum velit laoreet id donec ultrices tincidunt. Magna ac placerat vestibulum lectus. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Semper risus in hendrerit gravida rutrum quisque. Cursus metus aliquam eleifend mi in nulla. Mauris vitae ultricies leo integer malesuada nunc. Habitant morbi tristique senectus et netus et malesuada. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Accumsan lacus vel facilisis volutpat est velit egestas. Vel orci porta non pulvinar neque laoreet suspendisse. Semper eget duis at tellus at. Urna nunc id cursus metus aliquam.
      </p>
      
      <h2 class="text-center">Job Openings</h2>
      
      <div>
        {% for job in jobs %}
          {% include 'joblist.html' %}
        {% endfor %}
      </div>
      
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2022, Jovian</p>
        
      </div>
      
    </div>
    
  </body>
  
</html>